
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Életmód Monitor</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Életmód Monitor</h1>
        <p>Üdvözöljük az Életmód Monitor alkalmazásban!</p>
        <a href="/add_meal" class="btn btn-primary">Új étkezés hozzáadása</a>
        <a href="/add_exercise" class="btn btn-primary">Új testmozgás hozzáadása</a>
        <a href="/meals" class="btn btn-secondary">Étkezések megtekintése</a>
       -secondary">Testmozgások megtekintése</a>
    </div>
</body>
</html>
